@model EmployeeManagement.Models.Employee



 <h3>@ViewBag.PageTitle</h3> 


 <div>
    Name: @ViewBag.employee!.Name
</div>
<div>
    Email: @ViewBag.employee!.Email
</div>
<div>
    Department: @ViewBag.employee!.Department
</div>

@* Note: ViewBag is a wrapper around ViewData. With ViewBag, we don't have to do any casting like this: "var employee = ViewData["Employee"] as EmployeeManagement.Models.Employee;
 " like we did in ViewData. We can directly access the property of the model like this: "Name: @ViewBag.Employee.Name"
 *@