@* 
    Tag helpers are Server side components. They are Processed on the server to create and 
    render HTML elements. They are similar to HTML helpers
    There are built-in and their function is to Generate links, Create forms, Load assets, etc
    To import tah helpers: @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    Form Tag Helpers
    ----------------
    Form Tag Helper helps us create forms. We have a Tag Helper with name form that elps us create 
    form. To create the individual controls of the form, we have:
         * Input Tag Helper
         *Label Tag Helper
         *Select Tag Helper
         *TextArea Tag Helper
         *Validation Tag Helper
*@

@model IEnumerable<Employee>
@{
    //See _VewStart.chstml
    // Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee List";
}

<div class="card-deck">
   @foreach(var employee in Model)
    {
        var photoPath = "~/images/" + (employee.PhotoPath ?? "noimage.png");
        <div class="card m-3" style="min-width:18rem; max-width:30.5%">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>
            <img class="card-img-top imageThumbnail" src="@photoPath" asp-append-version="true"/>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@employee.Id" class="btn btn-primary">View</a>
                <a asp-controller="home" asp-action="edit" asp-route-id="@employee.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="home" asp-action="delete" asp-route-id="@employee.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>